* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}
.block1 {
    font-family: monospace;
    background-color: rgb(255, 190, 190);
    color:rgb(255, 0, 0);
    padding: 20px;
    border: 1px;
    border-radius: 20px;
}
.block2 {
    font-family: monospace;
    background-color: rgb(161, 161, 161);
    color:rgb(75, 75, 75);
    padding: 20px;
    border: 1px;
    border-radius: 20px;
    transition: all 0.5s;
}

.block2:hover{
    background-color: rgb(249, 255, 158);
} 

.block3 {
    font-family: monospace;
    background-color: rgb(255, 255, 55);
    color:rgb(0, 0, 0);
    padding: 1px;
    border: 1px;
}

    

   